# API
fastapi
uvicorn
python-multipart
jinja2

# AWS
boto3

# ML core
numpy
pandas
scikit-learn
scipy

# Boosting models
xgboost
catboost

# Data + visualization
matplotlib
seaborn
plotly

# NLP
nltk

# DB
pymongo

# Config
python-dotenv
dynaconf

# Monitoring / experimentation
evidently

# Utilities required by your code
from-root

#annotated-doc
#annotated-types
#anyio
#appdirs
#asttokens
#boto3
#botocore
#catboost
#certifi
#cffi
#charset-normalizer
#click
#colorama
#comm
#contourpy
#cryptography
#cycler
#debugpy
#decorator
#deprecation
#dill
#distro
#dnspython
#dynaconf
#evidently
#executing
#Faker
#fastapi
#filelock
#fonttools
#from-root
#fsspec
#graphviz
#h11
#httpcore
#httptools
#httpx
#idna
#imbalanced-learn
#imblearn
#ipykernel
#ipython
#ipython_pygments_lexers
#iterative-telemetry
#jedi
#Jinja2
#jmespath
#joblib
#jupyter_client
#jupyter_core
#kiwisolver
#litestar
#litestar-htmx
#markdown-it-py
#MarkupSafe
#matplotlib
#matplotlib-inline
#mdurl
#msgspec
#multidict
#mypy-boto3-s3
#mypy_extensions
#nest-asyncio
#neuro-mf
#nltk
#numpy
#opentelemetry-proto
#packaging
#pandas
#parso
#patsy
#pillow
#platformdirs
#plotly
#polyfactory
#prompt_toolkit
#protobuf
#psutil
#pure_eval
#pyarrow
#pycparser
#pydantic
#pydantic_core
#Pygments
#pymongo
#pyparsing
#python-dateutil
#python-dotenv
#python-multipart
#PyYAML
#pyzmq
#regex
#requests
#rich
#rich-click
#s3transfer
#scikit-learn
#scipy
#seaborn
#shellingham
#six1.17.0
#sklearn-compat
#sniffio
#stack-data
#starlette
#statsmodels
#tenacity
#threadpoolctl
#tornado
#tqdm
#traitlets
#typer
#typing-inspect
#typing-inspection
#typing_extensions
#tzdata
#ujson
#urllib3
#uuid6
#uvicorn
#watchdog
#watchfiles
#wcwidth
#websockets
#xgboost